.view-page-container {
	display: flex;
	/* align-items: center; */
	min-height: 750px;
	height: max(192px ,100vh);
	/* background-image: url("images/IMG_20250919_123825.png"); */
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.view-page {
	margin: auto max(30%, 100px) auto 10%;
	/* margin: auto 0; */
}

#view-page-hr {
	display: none;
}

.view-page-title {
	font-size: 52px;
	padding: 40px 0;
	font-weight: 800;
	line-height: 1.15;
}

@media (max-width: 574px) {
	.view-page-title {
		font-size: 42px;
	}
}

.view-page-btn {
	font-size: 20px;
	font-weight: 600;
	padding: 12px 30px;
	margin: 20px 0;
	border: none;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	transition: all 0.15s, background-color 0.05s;
	/*transition: transform 0.25s;*/
	cursor: pointer;
	border-radius: 8px;
}

.view-page-btn:hover {
	backdrop-filter: blur(10px);
	transform: translateY(-3px);
	border-radius: unset;
}

.view-page-btn:active {
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.7;
}
