.admin-fieldset {
	margin: 10px;
	padding: 40px;
	border-radius: 15px;
	font-family: "Poppins", sans-serif;
}

.admin-legend {
	padding: 0 5px;
	font-family: "Poppins", sans-serif;
}

.admin-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 700px;
	margin-bottom: 15px;
}

.input-container:has(.admin-btn) {
	flex-direction: row;
}

.product-insert-input {
	font-family: "Poppins", sans-serif;
	padding: 1px 10px;
	font-size: 16px;
	color: black;
}

#product-image {
	color: white;
}

#product-image {
	width: fit-content;
}

.product-insert {
	color: black;
	padding: 0 5px;
	font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
	.admin-fieldset {
		padding: 3%;
		border-radius: 5px;
	}

	.product-insert-input {
		font-size: 12px;
	}

	.input-container {
		width: 100%;
	}

	.admin-btn-container {
		flex-direction: column !important;
		gap: 10px;
	}

	.product-insert-input {
		padding: 1px 3px;
	}
}

@media (max-width: 400px) {
	.login-btn {
		white-space: pre-wrap;
	}
}
