/* Importing Following Fonts: Nunito, Source Sans 3, Roboto Mono */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
	margin:0;
	box-sizing: border-box;
	padding:0;
}

html {
	font-family: 'Poppins',sans-serif;
}

body {
	background-color: rgba(230,230,230,1);
	margin-top: 100px;
	.header-container { 
		background-color: rgba(120,120,120,0.6); 
		color: black !important;
	}
}

table {
	border-collapse: collapse;
}

.main-container {
	padding: 0 8%;
}

.main-container-no-padding {
	padding: 0;
}

.dark {
	background-color: rgb(25,25,25) !important;
	color: white !important;
}

.main-container {
	overflow: visible;
}

a {
	text-decoration: none;
	color: white;
}

.small-hr {
	height: 5px;
	width: 120px;
	background-color: white;
}

.stop-scroll {
	overflow-y: hidden;
}
