.pathline-container {
	padding: 1.5px 15px;
	font-family: 'Source Sans 3', sans-serif;
}

.pathline {
	font-size: 15px;

	.home {
		color: rgb(44,44,44);
		transition: all 0.15s;
		vertical-align: middle;
	}

	.home:hover {
		color: black;
	}

	.path-arrow {
		color: rgb(44,44,44);
		font-family: 'Source Sans 3', sans-serif;
		vertical-align: middle;
	}

	.current-location {
		cursor: not-allowed;
		color: rgb(44,44,44);
		vertical-align: middle;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}
}

body.dark .pathline span {
	color: white !important;
}

.dark .pathline .home:hover {
	color: grey !important;
}

@media (max-width: 400px) {
	.pathline {
		font-size: 12px;
	}
}
