.product-container-1 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 60px;
	padding: 40px 0 0 0;
	max-width: 1400px;
	margin: auto;
}

.product-left-part-container {
	width: 35%;
	/* height: 550px; */
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-image-container {
	width: 100%;

	.product-image {
		border-radius: 5px;
		width: 100%;
		height: 100%;
	}
}

.product-image-container:hover {
	transition: transform 0.5s;
	transform: scale(1.4);
	transform-origin: left top;
	img {
		transition: all 1s;
		box-shadow: 0px 0px 15px rgba(255,255,255,0.33);
	}
}

.product-right-part-container {
	width: 65%;
}

.product-showcase-title {
	padding: 0.5rem 0;
	text-align: start;
	h2 {
		font-size: 1.65rem;
		font-weight: 600;
	}
}

.product-page-hr {
	border: none;
	color: transparent;
	background-color: transparent;
	border-top: 1px solid darkgrey;
}

.product-showcase-sdesc {
	padding: 0.3rem 0;
	h4 {
		font-size: 1.10rem;
		font-weight: 500 !important;
	}
}

.product-showcase-price {
	font-size: 1.35rem;
	font-weight: 600;
	padding: 0.3rem 0 0;
	sup {
		font-weight: 400;
	}
}

.product-showcase-stock {
	padding: 0.2rem 0;
	font-size: 1.15rem;

	.false {
		color: crimson;
		font-weight: 800;
	}

	.true {
		color: rgb(05,235,126);
		font-weight: 800;
	}
}

.product-showcase-btns-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.product-page-cart-btn {
	text-align: center;
	padding: 10px 60px;
	font-family: "Poppins", sans-serif;
	border-radius: 25px;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	border-color: black !important;
}

.product-page-cart-btn:hover {
	background-color: yellow!important;
	color: black !important;
	border-color: yellow !important;
	opacity: 1;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

body.dark {
	.product-page-cart-btn {
		border-color: yellow !important;
	}

	.product-page-cart-btn:hover {
		border-color: yellow !important;
	}
}

.product-showcase-how-much-addcart {
	padding: 1px 5px;
	border-radius: 5px;
	background-color: rgba(212,212,212,1);
	box-shadow: 6px 6px 8px rgba(0,0,0,0.43), inset 2px 2px 8px rgba(255,255,255,0.43);
	color: black;
	font-weight: 600;
	display: inline-block;
	font-size: 1rem;
}

.product-showcase-how-much-addcart-input {
	/* background-color: rgba(255,255,255,0.49); */
	background-color: transparent;
	color: black;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	border: none;
	width: 70px;
	height: fit-content;
	padding: 2px 1px;
}

.product-showcase-how-much-addcart-input:focus-visible {
	outline: none;
}

.product-showcase-addcart-btn-container {
}

.product-showcase-how-much-addcart-input {
	/* background-color: rgba(255,255,255,0.49); */
	background-color: transparent;
	color: black;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 1.1rem;
	font-weight: 500;
	border: none;
	width: 70px;
	height: auto;
	padding: 2px 1px;
}

.product-showcase-how-much-addcart-input:focus-visible {
	outline: none;
}

.product-showcase-addcart-btn-container {
	padding: 30px 0;
	width: max-content;
}

.product-ldesc-container {
	line-height: 1.75;
	font-size: 1.1rem;
	text-align: justify;
}

.ldesc-title {
	font-size: 1.65rem;
	padding: 0 0 1rem 0;
}

.product-container-2 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

/* .product-showcase-addcart-btn { */
/* 	color: white !important; */
/* 	border-color: yellow !important; */
/* } */
/*  */
/* .light .product-showcase-addcart-btn { */
/* 	color: black !important; */
/* } */
/*  */
/* .product-showcase-addcart-btn:hover { */
/* 	background-color: yellow !important; */
/* 	color: black !important; */
/* } */

@media  (max-width: 1250px) {
	.product-left-part-container	{
		width: 45%;
	}

	.product-right-part-container {
		width: 55%;
	}

	.product-showcase-btns-container {
		justify-content: space-between;
	}
}

@media (max-width: 900px) {
	.product-container-1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 0;
		padding: 20px 0 0 0;
		margin: auto;
	}

	.product-image-container {
		border-radius: 5px;
	}

	.product-image-container:hover {
		transition: initial;
		transform: initial;
		transform-origin: initial;
		img {
			transition: all 1s;
			box-shadow: initial;
		}
	}

	.product-left-part-container	{
		width: 100%;
	}

	.product-showcase-title {
		h2 {
			font-size: 1.4rem;
		}
	}

	.product-showcase-sdesc {
		h4 {
			font-size: 1.05rem;
		}
	}

	.product-showcase-price {
		font-size: 1.20rem;
	}

	.product-showcase-stock {
		font-size: 1.05rem;
	}

	.product-showcase-how-much-addcart {
		font-size: 0.9rem;
	}

	.product-showcase-how-much-addcart-input {
		font-size: 1.05rem;
	}

	.product-right-part-container {
		width: 100%;
	}

	.product-showcase-btns-container {
		justify-content: space-between;
	}

	.product-container-2 {
		margin-top: 0;
	}

	.product-ldesc-container {
		font-size: 1rem;
	}

	.ldesc-title {
		font-size: 1.50rem;
	}
}

@media (max-width: 500px) {
	.product-showcase-btns-container {
		margin-top: 15px;
		flex-direction: column;
		align-items: flex-start;
		text-align: start;
	}
}

